html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* Hide scrollbar but allow scrolling */
.mobile-scroll {
  overflow-y: scroll;
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE/Edge */
}

.mobile-scroll::-webkit-scrollbar {
  display: none;                /* Chrome/Safari */

}

/* 🔥 Fix Leaflet overlapping sidebar */
.leaflet-control {
  z-index: 0 !important;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}

.leaflet-pane {
  z-index: 0 !important;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(122, 58, 92, 0.6);
  }
  70% {
    box-shadow: 0 0 0 18px rgba(122, 58, 92, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(122, 58, 92, 0);
  }
}
